<!DOCTYPE html>
</html>
<head>
    <title>NodeJs & PostgreSQL Crud - <%=title%></title>
    <link href="/../css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/../js/main.js"></script>
</head>
<body class="page">
    <div class="page-header"><h2><%=title%></h2></div>
