<!DOCTYPE html>
</html>
<head>
    <title><%=title%></title>
    <link href="/../css/main.css" rel="stylesheet">
</head>
<body class="page">
    <div class="page-header">
        <h2><%=title%></h2>
    </div>
    <a href="/customers">Customers</a>
</body>
</html>
